
@{
    ViewBag.Title = "About";
}


<section class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="/content/img/meseros1.jpg" class="card-img-top" height="300px" alt="gente">
                <div class="card-body">
                    restaurante el buen sabor nos da el sabor de nuestro pais, la idea es expandirnos a nivel nacional, con nuestros platos tipicos
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="~/Content/img/restaurante-1.JPG" class="card-img-top" height="300px" alt="lugar">
                <div class="card-body">
                    el buen sabor quiere expandirse de manera nacional como internacional, con la comida tipica de latinoamerica
                </div>
            </div>
        </div>
    </div>
</section>

