
@{
    ViewBag.Title = "Combos";
}

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Productos</h1>
        </div>
    </div>

    <hr class="mb-5" />

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Combos el buen sabor</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/content/img/arrozpaisa.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Combo familiar</h5>
                            <p class="card-text">4 sopas de ajiaco</p>
                            <p class="card-text">arroz paisa, platano, papa a la francesa</p>
                            <p class="card-text">jarron de limonada</p>
                            <p class="card-text"><small class="text-muted">Precio: $50.000</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


      

        

   

       



</section>

