
@{
    ViewBag.Title = "Products";
}


<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Productos</h1>
        </div>
    </div>

    <hr class="mb-5" />

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Almuerzos personales</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/content/img/bandeja paisa.JPG" class="card-img" alt="paisa">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Almuerzo sabor paisa</h5>
                            <p class="card-text">sopa de ajiaco</p>
                            <p class="card-text">bandeja paisa(carne molida, arroz,chicharon,platano,aguacate)</p>
                            <p class="card-text">limonada</p>
                            <p class="card-text"><small class="text-muted">Precio: $ 14.000</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/content/img/ALMUERZO3.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Almuerzo sabor clasico</h5>
                            <p class="card-text">sopa pasta</p>
                            <p class="card-text">bandeja clasica (verduras,pure de papa,platano,carne molida)</p>
                            <p class="card-text">jugo de lulo</p>
                            <p class="card-text"><small class="text-muted">Precio: $ 18.000</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">almuerzo doble sabor</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/content/img/almuerzo1.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">almuerzo doble1</h5>
                            <p class="card-text">sopa de menudencias</p>
                            <p class="card-text">bandeja doble (carne asada, platano,papa,frijoles,ensalada)</p>
                            <p class="card-text">jugo de piña</p>
                            <p class="card-text"><small class="text-muted">Precio: $ 30.000</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/content/img/almuerzo2.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">almuerzo doble 2</h5>
                            <p class="card-text">sopa de pasta</p>
                            <p class="card-text">bandeja doble(pescado frito,frijoles,platano,ensalda,arroz)</p>
                            <p class="card-text">jugo de piña</p>
                            <p class="card-text"><small class="text-muted">Precio: $ 30.000 </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</section>
